<header id="header">
  <h1>todos</h1>
  {{input type="text" id="new-item" placeholder="What needs to be done?" value=newItemDescription action="createItem"}}
</header>

<section id="main">
  <ul id="todo-list">
    {{#each itemController="item"}}
      <li {{bind-attr class="completed:completed"}}>
        {{input type="checkbox" checked=completed class="toggle"}}
        <label>{{description}}</label><button class="destroy"></button>
      </li>
    {{/each}}
  </ul>

  <input type="checkbox" id="toggle-all">
</section>

<footer id="footer">
  <span id="todo-count">
    <strong>2</strong> todos left
  </span>
  <ul id="filters">
    <li>
      <a href="all" class="selected">All</a>
    </li>
    <li>
      <a href="active">Active</a>
    </li>
    <li>
      <a href="completed">Completed</a>
    </li>
  </ul>

  <button id="clear-completed">
    Clear completed (1)
  </button>
</footer>
