<header id="header">
  <h1>todos</h1>
  {{input type="text" id="new-item" placeholder="What needs to be done?" value=newItemDescription action="createItem"}}
</header>

<section id="main">
  {{outlet}}

  <input type="checkbox" id="toggle-all">
</section>

<footer id="footer">
  <span id="todo-count">
    <strong>{{numRemaining}}</strong> {{numRemainingInflection}} left
  </span>
  <ul id="filters">
    <li>
      {{#link-to "items.index" activeClass="selected"}}All{{/link-to}}
    </li>
    <li>
      {{#link-to "items.active" activeClass="selected"}}Active{{/link-to}}
    </li>
    <li>
      {{#link-to "items.completed" activeClass="selected"}}Completed{{/link-to}}
    </li>
  </ul>

  <button id="clear-completed">
    Clear completed (1)
  </button>
</footer>
